{% load static %} {% load i18n %}
<!doctype html>
<html
  lang="{{ LANGUAGE_CODE }}"
  dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="ar" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title style="font-family: &quot;ShubbakW05&quot;, sans-serif !important">
      {{ site_settings.site_name }}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ site_settings.favicon_url }}"
    />
    <link rel="icon" sizes="48x48" href="{{ site_settings.favicon_url }}" />
    <link
      rel="apple-touch-icon"
      href="{{ site_settings.favicon_url }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Tajawal:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Owl Carousel  main css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{% static 'css/core.css' %}" />
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'css/shortcode/shortcodes.css' %}" />
    <!-- Theme main style -->
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- User style -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

    <!-- Modernizr JS -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

    <style>
      :root {
        --primary-color: {{ site_settings.primary_color|default:"#000000" }};
        --secondary-color: {{ site_settings.secondary_color|default:"#ffffff" }};
      }

      .nav-link.active {
        color: #ff6600;
        font-weight: bold;
        border-bottom: 2px solid #ff6600;
      }

      html[lang="ar"] body,
      html[dir="rtl"] body {
        font-family: "Cairo", "Tajawal", sans-serif;
      }
    </style>
  </head>

  <body id="top" class="site-lang-ar {% block body_class %}{% endblock %}" dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
    <!-- page wrapper start -->

    <div class="page-wrapper">
      <!-- preloader start -->

      {% include 'layout/loader.html' %}

      <!-- preloader end -->

      <!--header start-->
      {% include 'layout/navbar.html' %}

      <!--header end-->

      <!--body content start-->

      <div class="page-content">
        {% block content %}
        <!-- page content here -->
        {% endblock content %}
      </div>

      <!--body content end-->

      <!--footer start-->

      {% include 'layout/footer.html' %}
      <!--footer end-->
    </div>

    <!-- page wrapper end -->

    <!-- زر العودة للأعلى يُنشئه jQuery scrollUp (#scrollUp) في main.js -->

    <!-- jquery latest version -->
    <script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"></script>
    <!-- Bootstrap framework js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All js plugins included in this file. -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Waypoints.min.js. -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/section-animations.js' %}"></script>
  </body>
</html>
